USE [master]
GO
/****** Object:  Database [DB_EXAM_PORTAL]    Script Date: 22.11.2024 13:17:15 ******/
CREATE DATABASE [DB_EXAM_PORTAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_EXAM_PORTAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_EXAM_PORTAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_EXAM_PORTAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_EXAM_PORTAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_EXAM_PORTAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_EXAM_PORTAL]
GO
/****** Object:  Table [dbo].[T_EXAM]    Script Date: 22.11.2024 13:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EXAM](
	[E_ID] [int] IDENTITY(1,1) NOT NULL,
	[E_S_CODE] [char](3) NOT NULL,
	[E_S_NUMBER] [numeric](5, 0) NOT NULL,
	[E_DATE] [date] NOT NULL,
	[E_GRADE] [numeric](1, 0) NOT NULL,
	[E_STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_T_EXAM] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_STUDENT]    Script Date: 22.11.2024 13:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_STUDENT](
	[S_ID] [int] IDENTITY(1,1) NOT NULL,
	[S_NUMBER] [numeric](5, 0) NOT NULL,
	[S_NAME] [varchar](30) NOT NULL,
	[S_SURNAME] [varchar](30) NOT NULL,
	[S_CLASS] [numeric](2, 0) NOT NULL,
	[S_STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_T_STUDENT] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_S_NUMBER] UNIQUE NONCLUSTERED 
(
	[S_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SUBJECT]    Script Date: 22.11.2024 13:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SUBJECT](
	[S_ID] [numeric](4, 0) IDENTITY(1,1) NOT NULL,
	[S_CODE] [char](3) NOT NULL,
	[S_TITLE] [varchar](30) NOT NULL,
	[S_CLASS] [numeric](2, 0) NOT NULL,
	[S_T_NAME] [varchar](20) NOT NULL,
	[S_T_SURNAME] [varchar](20) NOT NULL,
	[S_STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_T_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_S_CODE] UNIQUE NONCLUSTERED 
(
	[S_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_EXAM] ADD  CONSTRAINT [DF_T_EXAM_E_DATE]  DEFAULT (getdate()) FOR [E_DATE]
GO
ALTER TABLE [dbo].[T_EXAM] ADD  CONSTRAINT [DF_T_EXAM_E_GRADE]  DEFAULT ((0)) FOR [E_GRADE]
GO
ALTER TABLE [dbo].[T_EXAM] ADD  CONSTRAINT [DF_T_EXAM_E_STATUS]  DEFAULT ((1)) FOR [E_STATUS]
GO
ALTER TABLE [dbo].[T_STUDENT] ADD  CONSTRAINT [DF_T_STUDENT_S_NAME]  DEFAULT ('') FOR [S_NAME]
GO
ALTER TABLE [dbo].[T_STUDENT] ADD  CONSTRAINT [DF_T_STUDENT_S_SURNAME]  DEFAULT ('') FOR [S_SURNAME]
GO
ALTER TABLE [dbo].[T_STUDENT] ADD  CONSTRAINT [DF_T_STUDENT_S_CLASS]  DEFAULT ((0)) FOR [S_CLASS]
GO
ALTER TABLE [dbo].[T_STUDENT] ADD  CONSTRAINT [DF_T_STUDENT_S_STATUS]  DEFAULT ((1)) FOR [S_STATUS]
GO
ALTER TABLE [dbo].[T_SUBJECT] ADD  CONSTRAINT [DF_T_SUBJECT_S_CODE]  DEFAULT ('') FOR [S_CODE]
GO
ALTER TABLE [dbo].[T_SUBJECT] ADD  CONSTRAINT [DF_T_SUBJECT_S_TITLE]  DEFAULT ('') FOR [S_TITLE]
GO
ALTER TABLE [dbo].[T_SUBJECT] ADD  CONSTRAINT [DF_T_SUBJECT_S_CLASS]  DEFAULT ((0)) FOR [S_CLASS]
GO
ALTER TABLE [dbo].[T_SUBJECT] ADD  CONSTRAINT [DF_T_SUBJECT_S_T_NAME]  DEFAULT ('') FOR [S_T_NAME]
GO
ALTER TABLE [dbo].[T_SUBJECT] ADD  CONSTRAINT [DF_T_SUBJECT_S_T_SURNAME]  DEFAULT ('') FOR [S_T_SURNAME]
GO
ALTER TABLE [dbo].[T_SUBJECT] ADD  CONSTRAINT [DF_T_SUBJECT_S_STATUS]  DEFAULT ((1)) FOR [S_STATUS]
GO
ALTER TABLE [dbo].[T_EXAM]  WITH NOCHECK ADD  CONSTRAINT [FK_T_EXAM_T_STUDENT] FOREIGN KEY([E_S_NUMBER])
REFERENCES [dbo].[T_STUDENT] ([S_NUMBER])
GO
ALTER TABLE [dbo].[T_EXAM] CHECK CONSTRAINT [FK_T_EXAM_T_STUDENT]
GO
ALTER TABLE [dbo].[T_EXAM]  WITH NOCHECK ADD  CONSTRAINT [FK_T_EXAM_T_SUBJECT] FOREIGN KEY([E_S_CODE])
REFERENCES [dbo].[T_SUBJECT] ([S_CODE])
GO
ALTER TABLE [dbo].[T_EXAM] CHECK CONSTRAINT [FK_T_EXAM_T_SUBJECT]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'subject code from t_subject' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_EXAM', @level2type=N'COLUMN',@level2name=N'E_S_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'student number from t_student' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_EXAM', @level2type=N'COLUMN',@level2name=N'E_S_NUMBER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'is exam active (1) or deleted (0)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_EXAM', @level2type=N'COLUMN',@level2name=N'E_STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'is student active (1) or deleted (0)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_STUDENT', @level2type=N'COLUMN',@level2name=N'S_STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'unique constraint added for distinction of the same subject for different classes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SUBJECT', @level2type=N'COLUMN',@level2name=N'S_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'teacher name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SUBJECT', @level2type=N'COLUMN',@level2name=N'S_T_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'teacher surname' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SUBJECT', @level2type=N'COLUMN',@level2name=N'S_T_SURNAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'is subject active (1) or deleted (0) ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_SUBJECT', @level2type=N'COLUMN',@level2name=N'S_STATUS'
GO
USE [master]
GO
